.background-primary {
  background: #194d6d;
}

.background-secondary {
  background: #F3C82D;
}

.background-highlight {
  background: #0776a6;
}

.background-white {
  background: #fff;
}

.text-font-dark {
  color: #2D3037
}

.text-font-light {
  color: #fff;
}

.text-font-highlight {
  color: #0776a6
}