.container-fluid {
  height: auto;
  width: 100%;
}

.container {
  height: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.align-items-stretch {
  align-items: stretch;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-2 {
  flex-grow: 2;
}

.flex-grow-3 {
  flex-grow: 3;
}