$bodyBg: url("@/assets/board/bg.jpg");

$cellBg: url("@/assets/board/bg-square.png");

$cellBgL: url("@/assets/board/bg-square-l.png");
$cellBgR: url("@/assets/board/bg-square-r.png");
$cellBgT: url("@/assets/board/bg-square-t.png");
$cellBgTl: url("@/assets/board/bg-square-tl.png");
$cellBgTr: url("@/assets/board/bg-square-tr.png");
$cellBgB: url("@/assets/board/bg-square-b.png");
$cellBgBl: url("@/assets/board/bg-square-bl.png");
$cellBgBr: url("@/assets/board/bg-square-br.png");

$chessW: url("@/assets/board/chess-w.png");
$chessB: url("@/assets/board/chess-b.png");

$primaryColor: #194d6d;
$titleColor : #181818;
$lightTxt: #f2f2f2;
$backgroundColor: #194d6d;
$praimyBoder: #0776a6;
$darkBorder: #232323;

$pageWidth: 80vh;
$pageHeight: 80vh;

$btnPadding: 4px 16px;

$titleSize : 20px;
$btnSize: 16px;

$boxBorderRadius: 4px;

.btn {
  border: 1px solid $praimyBoder;
  border-radius: $boxBorderRadius;
  width: 80%;
  padding: $btnPadding;
  box-shadow: 0 2px 10px $titleColor;
  color: $lightTxt;
  background: $praimyBoder;
}
